body {
    font-family: 'Bonheur Royale', cursive, sans-serif;
    background-image: url("background_image.jpg");
    text-align: center;
}
h1 {
    text-align: center;
    font-variant: small-caps   
}
h2 {
    text-align: center;
    font-variant: small-caps 
}
